<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <form>
                <!--<div class="form-group">-->
                <!--<label>开始时间</label>-->
                <!--<input type="date" class="form-control" id="startDateInput" placeholder="请选择" value="<%= date %>">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label>结束时间</label>-->
                <!--<input type="date" class="form-control" id="endDateInput" placeholder="请选择" value="<%= date %>">-->
                <!--</div>-->
                <div class="form-group">
                    <label>选择日期</label>
                    <input type="date" class="form-control" id="startDateInput" placeholder="请选择"
                           value="<%= date %>">
                </div>
                <div class="form-group">
                    <label>查找用户</label>
                    <input type="text" class="form-control" id="userIdInput" placeholder="请输入用户ID">
                </div>
                <button type="button" class="btn btn-default btn-primary btn-block" id="searchButton">查询</button>
            </form>
        </div>
        <div class="col-xs-10">
            <label>查看的数据库</label>

            <div>
                <label class="checkbox-inline">
                    <input type="checkbox" id="logCheckbox" value="logDiv" checked> Log DB
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="userLocationCheckbox" value="userLocationDiv" checked> UserLocation DB
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="userMotionCheckbox" value="userMotionDiv" checked> UserMotion DB
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="userEventCheckbox" value="userEventDiv" checked> UserEvent DB
                </label>
            </div>
            <div class="panel panel-default" id="logDiv">
                <div class="panel-heading">
                    Log DB
                </div>
                <div class="panel-body">
                    <div id="logChartDiv" style="height:400px;">

                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="userLocationDiv">
                <div class="panel-heading">
                    UserLocation DB
                </div>
                <div class="panel-body">
                </div>
            </div>
            <div class="panel panel-default" id="userMotionDiv">
                <div class="panel-heading">
                    UserMotion DB
                </div>
                <div class="panel-body">
                </div>
            </div>
            <div class="panel panel-default" id="userEventDiv">
                <div class="panel-heading">
                    UserEvent DB
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="scripts/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="scripts/bootstrap.min.js"></script>
<!-- 引入 ECharts 文件 -->
<script src="scripts/echarts.min.js"></script>
<script>
    var url = '/query';
    var startDate, endDate, userId;
    var logChart = echarts.init(document.getElementById('logChartDiv'));
    $(document).ready(function () {
        $('#searchButton').click(function () {
            // 获取参数
//            startDate = $('#startDateInput').val();
//            endDate = $('#endDateInput').val();
            startDate = endDate = $('#startDateInput').val();
            userId = $('#userIdInput').val();
            // 构造参数
            var data = {
                startDate: startDate,
                endDate: endDate,
                userId: userId
            }
            console.log(JSON.stringify(data));
            // 请求数据
            $.ajax({
                url: url,
                async: false,
                type: 'GET',
                data: data,
                success: function (data) {
                    console.log(JSON.stringify(data));
                    loadLogChartData(data);
                },
                error: errorAlert
            });
        });
        // 不同数据库显示
        $('#logCheckbox').change(changeTableShowOrHiden);
        $('#userLocationCheckbox').change(changeTableShowOrHiden);
        $('#userMotionCheckbox').change(changeTableShowOrHiden);
        $('#userEventCheckbox').change(changeTableShowOrHiden);
    });

    function errorAlert(error) {
        alert('请求失败!\n' + JSON.stringify(error));
    }

    function changeTableShowOrHiden() {
        if ($(this).is(':checked')) {
            $('#' + $(this).val()).removeClass('hidden');
        } else {
            $('#' + $(this).val()).addClass('hidden');
        }
    }

    function loadLogChartData(data) {
        logChart.setOption({
            tooltip: {
                formatter: '{c}'
            },
            legend: {
                data: data.category
            },
            xAxis: {
                name: '时间',
                data: data.xAxis
            },
            yAxis: {
                name: '数量'
            },
            series: [{
                name: 'location',
                type: 'line',
                data: data.location
            }, {
                name: 'sensor',
                type: 'line',
                data: data.sensor
            }, {
                name: 'motion',
                type: 'line',
                data: data.motion
            }, {
                name: 'other',
                type: 'line',
                data: data.other
            }]
        });
    }
</script>
</html>
