<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/scripts/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/scripts/bootstrap.min.js"></script>
    <!-- 引入 ECharts 文件 -->
    <script src="/scripts/echarts.min.js"></script>
    <!-- 引入 jquery.cookie 文件 -->
    <script src="/scripts/jquery.cookie.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <form>
                <div class="form-group">
                    <label>选择日期</label>
                    <input type="date" class="form-control" id="dateInput" placeholder="请选择"
                           value="<%= date %>">
                </div>
                <div class="form-group">
                    <label>UserId</label>
                    <input type="text" class="form-control" id="userIdInput" placeholder="请输入UserId">
                </div>
                <div class="form-group">
                    <label>installationId</label>
                    <input type="text" class="form-control" id="installationIdInput" placeholder="请输入installationId">
                </div>
                <form role="form">
                    <div class="form-group">
                        <label for="name">选择列表</label>
                        <select class="form-control" id="userSelect">
                            <option data-installationId="" data-userId="">请选择</option>
                            <% for(var i in datas){ %>
                            <option data-installationId="<%= datas[i].installationId %>"
                                    data-userId="<%= datas[i].userId %>"><%= datas[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                </form>
                <button type="button" class="btn btn-default btn-primary btn-block" id="searchButton">查询</button>
                <ul class="list-group" style="overflow: scroll;margin-top: 20px">
                    <li class="list-group-item hidden" id="historyItemHidden">Hidden</li>
                </ul>
            </form>
        </div>
        <div id="content" class="col-xs-10 hidden">
            <div class="panel panel-default" id="logDiv">
                <div class="panel-heading">
                    Log DB
                    <button type="button" class="btn btn-primary btn-xs pull-right toDetailBtn"
                            value="deviceDetail">Device详情
                    </button>
                </div>
                <div class="panel-body">
                    <div id="logChartDiv" style="height:400px;">

                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="userLocationDiv">
                <div class="panel-heading">
                    UserLocation DB
                    <button type="button" class="btn btn-primary btn-xs pull-right toDetailBtn"
                            value="userLocationDetail">查看详情
                    </button>
                </div>
                <div class="panel-body">
                    <div id="userLocationChartDiv" style="height:400px;">

                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="userMotionDiv">
                <div class="panel-heading">
                    UserMotion DB
                </div>
                <div class="panel-body">
                    <div id="userMotionChartDiv" style="height:400px;">

                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="userEventDiv">
                <div class="panel-heading">
                    UserEvent DB
                    <button type="button" class="btn btn-primary btn-xs pull-right toDetailBtn" value="userEventDetail">
                        查看详情
                    </button>
                </div>
                <div class="panel-body">
                    <div id="userEventChartDiv" style="height:400px;">

                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="homeOfficeStatusDiv">
                <div class="panel-heading">
                    HomeOfficeStatus DB
                    <button type="button" class="btn btn-primary btn-xs pull-right toDetailBtn"
                            value="homeOfficeStatusDetail">
                        查看详情
                    </button>
                </div>
                <div class="panel-body">
                    <div id="homeOfficeStatusChartDiv" style="height:400px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var date, userId, installationId;
    $(document).ready(function () {
        // 加载历史记录
        var history = loadHistory();
        // 显示历史记录
        showHistory(history);
        $('#userSelect').change(function () {
            var obj = $(this).find(':checked');
            console.log(obj.attr('data-installationId'));
            console.log(obj.attr('data-userId'));
            $('#userIdInput').val(obj.attr('data-userId'));
            $('#installationIdInput').val(obj.attr('data-installationId'));
        });
        $('#searchButton').click(function () {
            // 获取参数
            date = $('#dateInput').val();
            userId = $('#userIdInput').val();
            installationId = $('#installationIdInput').val();
            // 构造参数
            var data = {
                date: date,
                userId: userId,
                installationId: installationId
            }
            console.log(JSON.stringify(data));
            // 添加历史记录
            if (history.length >= 10) {
                history.shift();
            }
            history.push(data);
            // 显示历史记录
            showHistory(history);
            // 保存历史记录
            saveHistory(history);
            // 请求数据
            $.ajax({
                url: '/query',
                async: true,
                type: 'GET',
                data: data,
                success: function (data) {
                    console.log(JSON.stringify(data));

                    $('#content').removeClass('hidden');

                    if (installationId != '') {
                        loadLogChartData(data);
                    } else {
                        $('#logDiv').addClass('hidden');
                    }

                    if (userId != '') {
                        loadUserLocationChartData(data);
                        loadUserMotionChartData(data);
                        loadUserEventChartData(data);
                        loadHomeOfficeStatusChartData(data);
                    } else {
                        $('#userLocationDiv').addClass('hidden');
                        $('#userMotionDiv').addClass('hidden');
                        $('#userEventDiv').addClass('hidden');
                        $('#homeOfficeStatusDiv').addClass('hidden');
                    }
                },
                error: errorAlert
            });
        });
        // 详情跳转
        $('.toDetailBtn').click(function () {
            var which = $(this).val();
            var url = '/detail/' + which + '?date=' + date + '&userId=' + userId + '&installationId=' + installationId;
            toNewTabPage(url);
        });
    });

    function loadHistory() {
        // 加载cookie
        var str = $.cookie('history');
        if (str != undefined) {
            var obj = JSON.parse(str);
            var history = obj.history;
            return history;
        } else {
            return [];
        }
    }

    function showHistory(history) {
        $('.historyShow').remove();
        for (var i = 0; i < history.length; i++) {
            var obj = history[i];
            var item = $('#historyItemHidden').clone();
            item.removeAttr('id');
            item.removeClass('hidden');
            item.addClass('historyShow');
            item.text(obj.date + '\n' + obj.userId + '\n' + obj.installationId);
            item.attr('data-date', obj.date);
            item.attr('data-userId', obj.userId);
            item.attr('data-installationId', obj.installationId);
            // 点击
            item.click(function () {
                $('#dateInput').val($(this).attr('data-date'));
                $('#userIdInput').val($(this).attr('data-userId'));
                $('#installationIdInput').val($(this).attr('data-installationId'));
            });
            $('#historyItemHidden').after(item);
        }
    }

    function saveHistory(history) {
        // 保存cookie
        $.cookie('history', JSON.stringify({history: history}));
    }

    function toNewTabPage(url) {
        var a = $("<a href=" + url + " target='_blank'></a>").get(0);
        var event = document.createEvent('MouseEvents');
        event.initEvent('click', true, true);
        a.dispatchEvent(event);
    }

    function errorAlert(error) {
        alert('请求失败!\n' + JSON.stringify(error));
    }

    function loadLogChartData(data) {
        $('#logDiv').removeClass('hidden');
        var logChart = echarts.init(document.getElementById('logChartDiv'));
        logChart.setOption({
            tooltip: {
                formatter: '{c}'
            },
            legend: {
                data: data.category
            },
            xAxis: {
                name: '时间',
                data: data.xAxis
            },
            yAxis: {
                name: '数量'
            },
            series: [{
                name: 'location',
                type: 'bar',
                data: data.location
            }, {
                name: 'sensor',
                type: 'bar',
                data: data.sensor
            }, {
                name: 'motion',
                type: 'bar',
                data: data.motion
            }, {
                name: 'other',
                type: 'bar',
                data: data.other
            }]
        });
    }


    function loadUserLocationChartData(data) {
        $('#userLocationDiv').removeClass('hidden');
        var userLocationChart = echarts.init(document.getElementById('userLocationChartDiv'));
        userLocationChart.setOption({
            tooltip: {
                formatter: '{c}'
            },
            xAxis: {
                name: '时间',
                data: data.xAxis
            },
            yAxis: {
                name: '数量'
            },
            series: [{
                type: 'bar',
                data: data.userLocation
            }]
        });
    }

    function loadUserMotionChartData(data) {
        $('#userMotionDiv').removeClass('hidden');
        var userMotionChart = echarts.init(document.getElementById('userMotionChartDiv'));
        userMotionChart.setOption({
            tooltip: {
                formatter: '{c}'
            },
            xAxis: {
                name: '时间',
                data: data.xAxis
            },
            yAxis: {
                name: '数量'
            },
            series: [{
                type: 'bar',
                data: data.userMotion
            }]
        });
    }

    function loadUserEventChartData(data) {
        $('#userEventDiv').removeClass('hidden');
        var userEventChart = echarts.init(document.getElementById('userEventChartDiv'));
        userEventChart.setOption({
            tooltip: {
                formatter: '{c}'
            },
            xAxis: {
                name: '时间',
                data: data.xAxis
            },
            yAxis: {
                name: '数量'
            },
            series: [{
                type: 'bar',
                data: data.userEvent
            }]
        });
    }

    function loadHomeOfficeStatusChartData(data) {
        $('#homeOfficeStatusChartDiv').removeClass('hidden');
        var homeOfficeStatusChart = echarts.init(document.getElementById('homeOfficeStatusChartDiv'));
        homeOfficeStatusChart.setOption({
            tooltip: {
                formatter: '{c}'
            },
            xAxis: {
                name: '时间',
                data: data.xAxis
            },
            yAxis: {
                name: '数量'
            },
            series: [{
                type: 'bar',
                data: data.homeOfficeStatus
            }]
        });
    }

</script>
</html>
